<div id="main" class="container__main">
  <header>
    <div>
      <div>
        <img src="assets/ethereum.svg" alt="icon-ethereum" />
      </div>
      <nav>
        <ul>
          <li><a routerLink="app">Aplicación</a></li>
          <li><a>Características</a></li>
          <li><a>Nuestro equipo</a></li>
          <li><a>Objetivos y Beneficios</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <!-- Sección Hero -->
    <section class="hero">
      <div class="content">
        <div class="titlee fs-1">
          <h1 class="fs-1" id="animatedText">
            <span>E</span><span>S</span><span>E</span><span>N</span
            ><span>C</span><span>I</span><span>A</span><span>P</span
            ><span>A</span><span>Y</span>
          </h1>
        </div>
        <div class="description" #descriptionText>
          <p>
            !Bienvenido a EsenciaPay - Tu Puerta de Entrada al Futuro Financiero
          </p>
          <br />
          <p>
            Imagina un mundo donde tus transacciones son rápidas, seguras y sin
            fronteras. Con EsenciaPay, ese mundo es ahora. Nuestra innovadora
            billetera digital, impulsada por tecnología blockchain.
          </p>
        </div>
      </div>
      <div class="image_wallet" #walletImage>
        <img src="assets/wallet3dOptimizado.webp" alt="wallet" />
      </div>
    </section>

    <!-- Sección Características -->
    <section class="section__caracteristicas">
      <h2>CARACTERÍSTICAS</h2>
      <div class="container__cards">
        <div class="card1">
          <h3>Envío y recepción de ETH</h3>
          <div>
            <p>
              Permite a los usuarios enviar y recibir Ethereum de manera fácil y
              rápida con direcciones de billeteras.
            </p>
          </div>
        </div>
        <div class="card1">
          <h3>Visualización de saldo en tiempo real</h3>
          <div>
            <p>
              Muestra el saldo actual en ETH de la billetera y su equivalente en
              moneda local.
            </p>
          </div>
        </div>
        <div class="card1">
          <h3>Lista de contactos guardados</h3>
          <div>
            <p>
              Permite almacenar las direcciones de billetera de contactos
              frecuentes para facilitar el envío de ETH.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Sección Objetivos y Beneficios -->
    <section class="section__objetivos">
      <h2>OBJETIVOS Y BENEFICIOS</h2>
      <div class="container__objetivos">
        <div class="objetivo">
          <h3>Objetivo</h3>
          <p>
            Facilitar la adopción de criptomonedas y fomentar la inclusión
            financiera al ofrecer una plataforma accesible y segura para
            realizar transacciones en Ethereum.
          </p>
        </div>
        <div class="beneficio">
          <h3>Beneficios</h3>
          <ul>
            <li>Transacciones seguras y rápidas.</li>
            <li>Facilidad de uso para principiantes y expertos.</li>
            <li>Acceso global sin fronteras.</li>
            <li>Gestión de activos de manera eficiente y transparente.</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Sección Nuestro Equipo -->
    <section class="section__integrantes">
      <h2>NUESTRO EQUIPO</h2>
      <div class="container__integrantes">
        <div class="card_developer">
          <div class="image">
            <img src="assets/dev1.jpg" alt="roberto" />
          </div>
          <p>Roberto Sánchez</p>
          <span>Desarrollador</span>
        </div>
        <div class="card_developer">
          <div class="image">
            <img src="assets/dev2.jpg" alt="miguel" />
          </div>
          <p>Miguel Cuadros</p>
          <span>Desarrollador</span>
        </div>
      </div>
    </section>

    <!-- Sección Conclusiones -->
    <section class="section__conclusiones">
      <h2>CONCLUSIONES</h2>
      <div class="container__content">
        <div class="container__parrafo">
          <p>
            Esta aplicación de billetera digital para Ethereum representa una
            solución integral para quienes buscan gestionar sus activos de forma
            sencilla y segura. Con funcionalidades que permiten realizar
            transacciones rápidas y ver el historial de operaciones, los
            usuarios tienen control total sobre su actividad en la blockchain de
            Ethereum.
          </p>
        </div>
        <div class="container__img__quiz">
          <img src="assets/blockchain.jpg" alt="blockchain" />
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer__content">
      <p>&copy; 2024 EsenciaPay. Todos los derechos reservados.</p>
      <nav>
        <ul>
          <li><a>Política de Privacidad</a></li>
          <li><a >Términos y Condiciones</a></li>
          <li><a>Contacto</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
